<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header class="encabezado-ppal">
    <div class="encabezado">
        <div>
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo de mercadolibre">
        </div>
        <div class="barrabusqueda">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar productos, marcas y más"
                    class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div>
            <a href="#" class="tarjeta de credito">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas sin t de credito
            </a>
        </div>

        <button class="burger-menu">
            <i class="fas fa-bars"></i>
        </button>


        <nav class="doslistas">
            <ul class="primeralista">
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a></li>
                <li> <a href="/products/create">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>

            <ul class="segundalista">
                <li> <a href="./register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li> <a href="./login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>


    </div>
</header>
<section class="banner">
    <img src="/images/img-home-banner.jpg" alt="banner">
</section>

<main>
    <div class="contenedorproductos">

        <div class="ultimavisita">

            <h2 class="titulosmain">Basado en tu ultima visita</h2>
            
            <div class="productos">

                <article class="articulo">
                    <div class="imagendeproducto">
                    <img  src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    </div>
                    <div class="articulos">
                        <h2 class="precio">$6.770</h2>
                        <span class="descuento">40% OFF</span>
                        <p class="descripcion">Cafetera Moulinex</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <article class="articulo">
                    <div class="imagendeproducto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    </div>
                    <div class="articulos">
                        <h2 class="precio">$230.000</h2>
                        <span class="descuento">20% off</span>
                        <p class="descripcion">MacBook Pro 2019</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <article class="articulo">
                    <div class="imagendeproducto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy">
                </div>
                    <div class="articulos">
                        <h2 class="precio">$70.500</h2>
                        <span class="descuento">10% off</span>
                        <p class="descripcion">Samsung Galaxy S10</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <article class="articulo">
                    <div class="imagendeproducto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv">
                </div>
                    <div class="articulos">
                        <h2 class="precio">$23.200</h2>
                        <span class="descuento">5% off</span>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>
            </div>
            
        </div>
        <div class="ofertas">
            <h3 class="titulosmain">Ofertas</h3>
            <div class="productos">
                <article class="articulo">
                    <div class="imagendeproducto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                    <div class="articulos">
                        <h2 class="precio">$6.770</h2>
                        <span class="descuento">40% OFF</span>
                        <p class="descripcion">Cafetera Moulinex</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <article class="articulo">
                    <div class="imagendeproducto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                </div>
                    <div class="articulos">
                        <h2 class="precio">$230.000</h2>
                        <span class="descuento">20% off</span>
                        <p class="descripcion">MacBook Pro 2019</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <article class="articulo">
                    <div class="imagendeproducto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy">
                </div>
                    <div class="articulos">
                        <h2 class="precio">$70.500</h2>
                        <span class="descuento">10% off</span>
                        <p class="descripcion">Samsung Galaxy S10</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <article class="articulo">
                    <div class="imagendeproducto">
                    <img class="imagendeproducto" src="/images/img-tv-samsung-smart.jpg" alt="tv">
                </div>
                    <div class="articulos">
                        <h2 class="precio">$23.200</h2>
                        <span class="descuento">5% off</span>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                        <i class="fas fa-truck"></i>
                    </div>
            </div>
            </article>
        </div>
    </div>
</main>

<footer>
    <div class="beneficiosfooter">
        <i class="fas fa-credit-card"></i>
        <h3 class="titulosfooter">Pagá con tarjeta o en efectivo</h3>
        <p class="parrafosfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </div>

    <div class="beneficiosfooter">
        <i class="fas fa-gift"></i>
        <h3 class="titulosfooter">Envío gratis desde $ 2.500</h3>
        <p class="parrafosfooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </div>

    <div class="beneficiosfooter">
        <i class="fas fa-user-shield"></i>
        <h3 class="titulosfooter">Seguridad, de principio a fin</h3>
        <p class="parrafosfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </div>

    <p class="parrafosfooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


</footer>


</html>