<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <header class="encabezado-ppal">
        <div class="encabezado">
            <div>
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo de mercadolibre">
            </div>
            <div class="barrabusqueda">
                <form action="/search" method="GET" class="search-form">
                    <input type="text" name="keywords" placeholder="Buscar productos, marcas y más"
                        class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
    
            <div>
                <a href="#" class="tarjeta de credito">
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas sin t de credito
                </a>
            </div>
    
            <button class="burger-menu">
                <i class="fas fa-bars"></i>
            </button>
    
    
            <nav class="doslistas">
                <ul class="primeralista">
                    <li> <a href="#">Ofertas</a> </li>
                    <li> <a href="#">Tiendas Oficiales</a></li>
                    <li> <a href="/products/create">Vender</a></li>
                    <li> <a href="#">Ayuda</a></li>
                </ul>
    
                <ul class="segundalista">
                    <li> <a href="./register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li> <a href="./login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                    <li> <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
    
    
        </div>
    </header>


    <main class="registrate">
        <form action="/" method="get" class="registro">
            
                <input type="text" minlength="3" name="nombre" placeholder="Nombre y Apellido" class="input">
                <input type="text" minlength="3" name="nombre-usuario" placeholder="Nombre de usuari@" class="input">
                <input type="email" name="email" placeholder="email" class="input">
                <br>
                <br>
                <label for="fechaDeNacimiento"><b> Fecha De Nacimiento</b></label>
                <br>
                <input type="date" name="fechaDenacimiento" class="input" id="fechaDeNacimiento">
                <br>
                <input type="text" name="domicilio" placeholder="Domicilio" class="input">
                <br>
                <br>
                <h4>Perfil de Usuario</h4>
                <div class="perfil-usuario">
                    <input type="radio" name="perfil" value="comprador" class="radio" id="Comprador">
                    <label for="Comprador">Comprador</label>
                    <input type="radio" name="perfil" value="vendedor" class="radio" id="Vendedor">
                    <label for="Vendedor">Vendedor</label>               
                </div>
                <br>
                <br>
                <h4>Categoria de Interes</h4>
                <div class="intereses">
                    <div>
                        <input type="checkbox" name="Intereses" value="Electro" class="categorias" id="Electro">
                        <label for="Electro">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Intereses" value="Moda" class="categorias" id="Moda">
                        <label for="Moda">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Intereses" value="Hogar" class="categorias" id="Hogar">
                        <label for="Hogar">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Intereses" value="Jugueteria" class="categorias" id="Jugueteria">
                        <label for="Jugueteria">Jugueteria</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Intereses" value="Vida Sana" class="categorias" id="Vida Sana">
                        <label for="Vida Sana">Vida Sana</label>
                    </div>
                </div>
            <br>
            <br>
            <h4>Elije tu foto de usuario</h4>
            <input type="file" accept=".jpg,.png" name="Avatar" class="Usuario" id="Avatar">
            <br>
            <br>
            <input type="password" required name="password" class="password" placeholder="password">
            <input type="password" required name="passwordconfirm" class="password" placeholder="confirm password">
            <br>
            <br>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
            <br>
            <br>
        </form>
    </main>

    <footer>
        <div class="beneficiosfooter">
            <i class="fas fa-credit-card"></i>
            <h3 class="titulosfooter">Pagá con tarjeta o en efectivo</h3>
            <p class="parrafosfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="beneficiosfooter">
            <i class="fas fa-gift"></i>
            <h3 class="titulosfooter">Envío gratis desde $ 2.500</h3>
            <p class="parrafosfooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="beneficiosfooter">
            <i class="fas fa-user-shield"></i>
            <h3 class="titulosfooter">Seguridad, de principio a fin</h3>
            <p class="parrafosfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>

        <p class="parrafosfooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>
</body>

</html>